.navbar {
    background-image: $backgroundPurple;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0 50px;
}

.nav-bar-brand {
    color: white;
    line-height: 32px;
    font-weight: 700;
    font-size: 30px;
    &:hover {
        color: white;
    }
}



.menu-icon {
    color :white;
    font-size: 30px;
    &:hover {
        text-decoration: none;
        color: #d8d8d8;
    }
}
.dropdown-item {
    color: $fontColor;
    font-size: 20px;
    font-weight: 500;
    &:hover {
        color: $purple3;
    }
}